# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
docs/*
docs/.vitepress/cache/deps/_metadata.json
docs/.vitepress/cache/deps/@theme_index.js
docs/.vitepress/cache/deps/@theme_index.js.map
docs/.vitepress/cache/deps/chunk-LW4I4DCF.js
docs/.vitepress/cache/deps/chunk-LW4I4DCF.js.map
docs/.vitepress/cache/deps/chunk-Z5QSWKN2.js
docs/.vitepress/cache/deps/chunk-Z5QSWKN2.js.map
docs/.vitepress/cache/deps/package.json
docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
docs/.vitepress/cache/deps/vue.js
docs/.vitepress/cache/deps/vue.js.map
